
<div class="coming-soon-container">
<!-- image section ################## -->
  <div class="image">
    <img src="../../assets/Art.png" alt="">
  </div>
<!-- content section ##################### -->
  <div class="content">
      <img src="../../assets/Winning Wonder Small Logo CDR File.png" alt="">

      <h2 class="title">We are Coming Soon</h2>
      <p>Our Website is under maintenance</p>
      <div class="countdown">
        <div class="box">
          <h3 id="days">{{countdays}}</h3>
          <span>days</span>
        </div>

        <div class="box">
          <h3 id="hours">{{counthours}}</h3>
          <span>hours</span>
        </div>

        <div class="box">
          <h3 id="minutes">{{countminutes}}</h3>
          <span>minutes</span>
        </div>

        <div class="box">
          <h3 id="seconds">{{countseconds}}</h3>
          <span>seconds</span>
        </div>

      </div>
      <a href="#" class="btn">Notify me</a>
  </div>

</div>

